<div [ngStyle]="{ 
                'background' : color,
                'padding' : '20px',
                'border' : '1px solid black',
                'border-color' : 'componentConfig.fondo'    
              }" >
  <h1>
    Bienvenido al curso: {{ title }}!
  </h1> 
  <p>
    {{ description }}
  </p>

  <nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['active']" >Home</a>
    &nbsp;
    <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">Zapatillas</a>
    &nbsp;
    <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a>
    &nbsp;
    <a [routerLink]="['/videojuego']" [routerLinkActive]="['active']">Videojuego</a>
  </nav>

  <hr/>
  <!--
  <button (click)="ocultarMostrarVideojuegos(false)" *ngIf="mostrar_videojuegos">Ocultar</button>
  <button (click)="ocultarMostrarVideojuegos(true)" *ngIf="!mostrar_videojuegos">Mostrar</button>
  

  <videojuego *ngIf="mostrar_videojuegos" ></videojuego>
  <zapatillas></zapatillas>
  <app-cursos></app-cursos>
  -->

  <!--Routeo-->
  <router-outlet></router-outlet>
</div>