<div [ngStyle]="{ 
                'background' : color,
                'padding' : '20px',
                'border' : '1px solid black',
                'border-color' : 'componentConfig.fondo'    
              }" >
  <h1>
    Bienvenido al curso: {{ title }}!
  </h1> 
  <p>
    {{ description }}
  </p>

  <button (click)="ocultarMostrarVideojuegos(false)" *ngIf="mostrar_videojuegos">Ocultar</button>
  <button (click)="ocultarMostrarVideojuegos(true)" *ngIf="!mostrar_videojuegos">Mostrar</button>
  

  <videojuego *ngIf="mostrar_videojuegos" ></videojuego>
  <zapatillas></zapatillas>
  <app-cursos></app-cursos>
</div>